:root {
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --white-color: #ffffff;
  --dark-color: #2e2f42;
  --light-color: #f4f4fd;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --text: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;

  background-color: var(--white-color);
  color: var(--dark-color);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  top: -150%;
  z-index: -100;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  pointer-events: none;
  cursor: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  outline: none;
  white-space: nowrap;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ===== ============ COMPONENTS ============ ===== */

.logo-link {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;

  color: var(--dark-color);
}
.logo-link-primary {
  color: var(--primary-brand);
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;

  cursor: pointer;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;

  color: var(--dark-color);
}
/* ===== ============ HEADER ============ ===== */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
}
.navigation {
  display: flex;
  gap: 76px;
  align-items: center;
}

.navigation-list {
  display: flex;
  gap: 40px;
}
.navigation-item {
}
.navigation-link {
  font-weight: 500;

  color: var(--dark-color);
}
.navigation-link:focus,
.navigation-link:hover {
  color: var(--pressed-state);
}

.adress-list {
  display: flex;
  margin-left: auto;
  gap: 40px;
}
.adress-item {
}
.adress-link {
  font-style: normal;

  color: var(--text);
}
.adress-item:focus,
.adress-link:hover {
  color: var(--pressed-state);
}
/* ===== ============ /HEADER ============ ===== */
/* ===== ============ HERO ============ ===== */
.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-color: var(--dark-color);
}
.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  margin: 0 auto 48px;
  /* max-width: 512px; */
  width: 512px;
  color: var(--white-color);
}
.hero-button {
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--primary-brand);
  color: var(--white-color);
}
.hero-button:focus,
.hero-button:hover {
  background-color: var(--pressed-state);
}
/* ===== ============ /HERO ============ ===== */
/* ===== ============ ADVANTAGE ============ ===== */
.advantage-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantage-title {
}
.advantage-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.advantage-item {
}
.advantage-subtitle {
  margin-bottom: 8px;
}
.advantage-text {
  color: var(--text);
}
/* ===== ============ /ADVANTAGE ============ ===== */
/* ===== ============ GALLERY ============ ===== */
.gallery-section {
  padding-bottom: 120px;
}
.gallery-title {
  text-align: center;
  margin-bottom: 72px;
}
.gallery-list {
  display: flex;
  gap: 24px;
}
.gallery-item {
}
.gallery-img {
}
/* ===== ============ /GALLERY ============ ===== */
/* ===== ============ TEAM ============ ===== */
.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--light-color);
}
.team-title {
  text-align: center;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-item {
  flex-basis: calc((100% - 72px) / 4);
  background-color: var(--white-color);
}
.team-link {
}
.team-img {
}
.team-item-content {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.team-subtitle {
  margin-bottom: 8px;
}
.team-text {
  color: var(--text);
}
/* ===== ============ /TEAM ============ ===== */
/* ===== ============ FOOTER ============ ===== */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark-color);
}
.footer-logo-link {
  display: block;
  margin-bottom: 16px;
  color: var(--light-color);
}
.footer-text {
  /* width: 264px; */
  max-width: 264px;
  color: var(--light-color);
}
/* ===== ============ /FOOTER ============ ===== */
/* ===== ============ PORTFOLIO ============ ===== */
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-btn-item {
}
.portfolio-button {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  font-weight: 500;

  background-color: var(--light-color);
  color: var(--primary-brand);
}

.portfolio-button:focus,
.portfolio-button:hover {
  background-color: var(--pressed-state);
  color: var(--white-color);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
}
.portfolio-link {
  display: block;
  color: var(--dark-color);
}
.portfolio-img {
}
.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitle {
  margin-bottom: 8px;
}
.portfolio-text {
  color: var(--text);
}
/* ===== ============ /PORTFOLIO ============ ===== */
